<mat-toolbar>
  <mat-toolbar-row class="d-flex align-items-center">
    <img src="../../../assets/img/avatar.png" />
    <span class="font-weight-bold ml-3">{{currentUser?.name}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="d-flex flex-column px-3 mt-2">
  <mat-form-field appearance="fill">
    <mat-label>Select Album</mat-label>
    <mat-select [formControl]="selectFormCtrl">
      <mat-option *ngFor="let album of userAlbums" [value]="album.id">
        {{album.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="d-flex flex-wrap p-3 albums">
  <img class="p-2" [src]="photo.url" *ngFor="let photo of albumPhotos" [alt]="photo.title"/>
</div>
<div class="px-3 mt-2" *ngIf="userAlbums?.length === 0">
  No Albums!
</div>
