:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 0;
  min-height: 0;
  overflow: auto;
  position: relative;
  border: 1px solid silver;
  img {
    width: 36px;
    height: 36px;
  }
  .albums {
    img {
      width: 200px;
      height: 200px;
    }
  }
}
